#body {
    background-color: rgb(5,9,30);
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: medium;
    font-style: normal;
}

.text {
    color: white;
    font-size: 20px;
}

#header{
    margin-top: auto;
    margin-bottom: auto; 
    margin-left: 24%;
    margin-right: 24%;
}

#first_button {
    min-width: 2vw;
    padding-top: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: flex-end;
}

#share_link {
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titik_tiga {
    font-size: 15px;
    color: white;
    justify-content: center;
    align-content: center;
}

#pos_profile{
    display: flex;
    justify-content: center;
    padding-top : 5%
}

#profile{
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

#username {
    display: flex;
    justify-content: center;
}

#text-user {
    font-size: 25px; color: white; font-weight: bolder;
}

#find {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

#main_section{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 27%;
    margin-right: 27%;
    padding-bottom: 5%;
}

.contact {
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: space-between;
    border : 1px solid white;
    border-radius: 40px;
    padding: 10px;
}

.icon {
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text_contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media{
    font-size: 22px;
    color: white;
}

#footer {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}


@media screen and (max-width : 600px) {

    .text {
        font-size: 15px;
    }

    #username #text-user{
        font-size: 20px;
    }

    #header {
        margin-left: 5%;
        margin-right: 5%;   
    }

    #main_section{ 
        margin-left: 5%;
        margin-right: 5%;   
    }
}

.contact:hover{
    transform: translateY(-0.2rem) scale(1.05);
    background-color: gray;
    .social_media {
        color: rgb(5,9,30);
    }

    h2 {
        color: rgb(5,9,30);
    }

    .titik_tiga {
        color: rgb(5,9,30);
    }
}

#share_link:hover{
    background-color: rgb(71, 71, 71);
}
